<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Controls</title>
    <style>
        body {
            font-family: 'Montserrat', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        header {
            background-color: rgb(6, 6, 79);
            color: #fff;
            padding: 20px 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        nav {
            display: flex;
            font-size: 20px;
        }

        nav a {
            color: #fff;
            text-decoration: none;
            margin: 0 20px;
            font-size: 22px;
        }

        main {
            margin-top: 50px;
            padding: 40px;
            padding-top: 80px;
            text-align: center;
        }

        form {
            max-width: 400px;
            margin: auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        }

        label {
            display: block;
            text-align: left;
            margin-bottom: 10px;
            font-weight: bold;
        }

        input[type="text"] {
            width: 90%;
            padding: 10px;
            font-size: 16px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        input[type="number"] {
            width: 90%;
            padding: 10px;
            font-size: 16px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        select{
            width: 78%;
            padding: 10px;
            font-size: 16px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        button {
            background-color: rgb(19, 19, 99);
            font-size: 20px;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        button:hover {
            background-color: rgb(41, 57, 163);
        }

        /* Media query for screens less than 768px */
        @media (max-width: 768px) {
            header {
                flex-direction: column;
                align-items: flex-end;
                padding: 10px;
            }

            nav {
                display: none;
                flex-direction: column;
                align-items: center;
                position: absolute;
                top: 50px;
                right: 0;
                background-color: rgb(6, 6, 79);
                width: 100%;
            }

            nav.active {
                display: flex;
            }

            main {
                margin-top: 10px;
                padding: 10px;
                padding-left: 5px;
                text-align: center;
            }
            input[type="text"] {
            width: 90%;
            padding: 10px;
            font-size: 16px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
            input[type="number"] {
            width: 90%;
            padding: 10px;
            font-size: 16px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
            select{
            width: 78%;
            padding: 10px;
            font-size: 16px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        }
    </style>
</head>
<body>
    <header>
        <nav>
            <a href="/home">Home</a>
            <a href="/admin/findBranch">searchBranch</a>
            <a href="/admin/findName">searchName</a>
            <a href="/addNewUser">Upload Info</a>
            <a href="/logout">LogOut</a>
        </nav>
        <div class="menu-icon" onclick="toggleMenu()"></div>
    </header>
    <main>
        <form action="/uploadInfo" method="post">
            <label for="branch4">Roll No</label>
            <input type="number" id="branch4" name="rollNo" placeholder="Enter Roll No" required>
        
            <label for="branch1">First Name</label>
            <input type="text" id="branch1" name="fname" placeholder="Enter First Name" required>
        
            <label for="branch5">Last Name:</label>
            <input type="text" id="branch5" name="lname" placeholder="Enter Last Name" required>
        
            <lable for="branch"> <b>Branch :</b></lable>
            <select name="branch" required>
                <option value="CS-CORE">CS-CORE</option>
                <option value="CS-AIML">CS-AIML</option>
                <option value="CS-AI ">CS-AI</option>
                <option value="CS-DS">CS-DS</option>
                <option value="CS-CYS">CS-CYS</option>
                <option value="CS-IOT">CS-IOT</option>
                <option value="CS-HINDI">CS-HINDI</option>
                <option value="AIDS">AIDS</option>
                <option value="EC">EC</option>
                <!-- Add more options as needed -->
            </select>
        
            <label for="branch3">Father Name:</label>
            <input type="text" id="branch3" name="fathername" placeholder="Enter Father Name" >
            
            <button type="submit">Upload</button>
        </form>
    </main>
    <script>
        function toggleMenu() {
            var nav = document.querySelector('nav');
            var menuIcon = document.querySelector('.menu-icon');
            if (nav.classList.contains('active')) {
                nav.classList.remove('active');
                menuIcon.classList.remove('active');
            } else {
                nav.classList.add('active');
                menuIcon.classList.add('active');
            }
        }
    </script>
</body>
</html>
