<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./PSIT_logo_Red.png" rel="webpage icon">
    <title>User exists</title>
    <style>
        p{
            font-size: 70px;
            text-align: center;
        }
        h1,h3{
            text-align: center;
        }
    </style>
</head>
<body>
    <p>Error 404</p>
    <h1>User with this Roll No. already exits</h1>
    <h3>please give a unique Roll No. and <a href="/addNewUser">try again</a>..!</h3>
</body>
</html>
